header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #2C3E50;   /* Verde: #18BC9C Amarillo: #F7EF80 AmarilloML:#fff159 Naranja: #f60  Gris: #EAE8E8 */
  width: 100vw;
   height: 120px;


}



.barra_nav {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}


.barra_nav li{

  list-style: none;

  padding-left:6vw;
  padding-right:6vw;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.barra_nav a{
  text-decoration: none;
  color: white;
}

.barra_nav li:hover{

  color: "#FFFFFF";
  /* font-size: 20px; */
  background-color: rgba(238,238,238,0.5);
}


.logo{
  position: absolute;
  top:5px;
  left:10px;
  width: 200px;

}

.menu_hamburger{
  display: none;
  float: right;
  width: 50px;

}


.usuario{
  float: right;
  display: block;
  padding: 1vw 3vw 0vw;
}

.usuario a{
  padding: 10px;
  color: white;
}

.title{

  margin: 250px auto 10px;
  width: 60%;
  padding: 15px;
  color: #FFFFFF;
  background-color: #18BC9C;    /* Azul: #2C3E50  Primer Azul: #376896*/
  text-align: center;
  font-size: 25px;
}
