header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color:  #fff159;   /* Verde: #18BC9C Amarillo: #F7EF80 AmarilloML:#fff159 Naranja: #f60  Gris: #EAE8E8 */
  width: 100vw;
  height: 120px;


}

.barra_nav {

  display: flex;
  flex-wrap: wrap;
  justify-content:center;

  }


.barra_nav li{

  list-style: none;

  padding-left:6vw;
  padding-right:6vw;
  padding-top: 10px;
  padding-bottom: 10px;

}

.imagenBar{
  position: absolute;
  top:5px;
  left:10px;
  width: 100px;
}

.textoLogo{
  position: absolute;
  top:15px;
  left:100px;
  font-size: 30px;

}

.barra_nav a{
  text-decoration: none;

}

.barra_nav li:hover{

  color: "#FFFFFF";
  font-size: 20px;
  background-color: rgba(238,238,238,0.5);
}

.usuario{
  display:flex;
  justify-content: flex-end;
  padding: 1vw 3vw 1vw;
}

.usuario a{
  padding: 10px
}

.title{

  margin: 150px auto 10px;
  width: 60%;
  padding: 15px;
  color: #FFFFFF;
  background-color: #2C3E50;    /* Azul: #2C3E50  Primer Azul: #376896*/
  text-align: center;
  font-size: 25px;
}
