body {
  background-color: #EAE8E8;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #F7EF80;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
}

.navbar p {
  margin: 0;
  font-size: 25px;
}

.titulos {
  margin: 30px auto 10px;
  border-radius: 5px;
  border: solid 2px #383737;
  width: 80%;
  max-width: 500px;
  padding: 15px;
  background-color: #376896;
  text-align: center;
}

h1 {
  margin: 0 0 20px;
  color: white;
}

h2 {
  margin: 0 0 10px;
  color: white;
}

form {
  margin: auto;
  border-radius: 5px;
  border: solid 2px #383737;
  width: 80%;
  max-width: 500px;
  padding: 25px 15px;
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.primeros-campos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nombre-y-campo {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nombre {
  width: 40%;
  margin: 5px;
}

.campo {
  width: 50%;
  margin: 5px;
}

.campo-avatar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 25px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 10px 25px;
  background-color: #376896;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background-color: #2E72B2;
}

.productos {
  margin: 60px auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prod {
  width: 200px;
  height: 200px;
  margin: 15px;
  background-color: white;
  border-radius: 5px;
  border: solid 2px #383737;
  display: flex;
  align-items: center;
  justify-content: center;
}
