@import "vendor.css";
@import "header.css";
@import "sideBar.css";
@import "footer.css";
@import "registro.css";
@import "perfil.css";

@media (max-width: 1350px){

  header{
    height: 210px;
  }

  .logo{
    position: relative;
    left: 40%;

  }

  .title{

      margin: 300px auto 10px;
  }

}


  @media (max-width:870px){


   .barra_nav {
     /* display: none; */
     position: absolute;
     right: 0px;
     top: 150px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     background-color: #2C3E50;

    }

    .navegacion:hover{
    }


    .menu_hamburger{
      display:block;
      position: absolute;
      right: 10%;
      top: 150px;
    }

    .logo{
      width:250px;
      position: relative;
      left: 20%;
      top: 30px;
    }

  }
